<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1648655551/CAVALENTOI/20181221_091406_tpntgu.jpg);">
  <div class="container">
    <h1>Caval'en Toi</h1>
    <p>praticienne en médiation équine et thérapies brèves.</p>
    <a class="btn btn-success" mail_to="cavalentoi@gmail.com">Contact</a>
  </div>
</div>
