<%= render 'shared/banner' %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 mt-3">
        <p>Avec Caval’en toi, j’accompagne des personnes (ou groupe) dans leur recherche de
        mieux être, d’une meilleure compréhension d’elles-mêmes, qu’elles trouvent à
        l’intérieur (en elles) les ressources et la force que moi-même j’ai découvert par
        l’intermédiaire d’un cheval et de dame nature. Faire que ces personnes, quelle que
        soit leur histoire, leur parcours, leur expérience, leurs blessures, cavalent en elles, se
        trouvent, pour qu’elles puissent construire leur chemin de vie en pleine conscience…</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://res.cloudinary.com/numama/image/upload/v1648655392/CAVALENTOI/FB_IMG_1645548118487_1_k4nzl7.jpg" alt="Responsive image"/>

        </div>
    </div>
</div>