<%= render 'shared/banner' %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 mt-3">
        <p>Avec Caval’en toi, j’accompagne des personnes (ou groupe) dans leur recherche de
        mieux être, d’une meilleure compréhension d’elles-mêmes, qu’elles trouvent à
        l’intérieur (en elles) les ressources et la force que moi-même j’ai découvert par
        l’intermédiaire d’un cheval et de dame nature. Faire que ces personnes, quelle que
        soit leur histoire, leur parcours, leur expérience, leurs blessures, cavalent en elles, se
        trouvent, pour qu’elles puissent construire leur chemin de vie en pleine conscience…</p>
       <div class="m-5">
           <img class="img-fluid" src="https://res.cloudinary.com/numama/image/upload/v1648814704/CAVALENTOI/logo_caval_en_toi_anrq5f.png" alt="Responsive image"/>
    </div>
        </div>
        <div class="col-md-5">
            <img class="img-fluid  rounded-circle" src="https://res.cloudinary.com/numama/image/upload/v1648655392/CAVALENTOI/FB_IMG_1645548118487_1_k4nzl7.jpg" alt="Responsive image"/>


        </div>
    </div>
</div>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649959232/CAVALENTOI/5_hpzm3q.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649959232/CAVALENTOI/6_cuic7h.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649959231/CAVALENTOI/8_o8itq3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649959231/CAVALENTOI/10_p3fbhj.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649959231/CAVALENTOI/10_p3fbhj.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649959639/CAVALENTOI/princess_ko2nae.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>