<div class="container"> 
<h5>  Mon cheminement vers l’accompagnement…  </h5>

<p>
    « Les chevaux, […] m&#39;ont grandi, m&#39;ont apporté la confiance, le goût de la liberté,
    fourni quelques armes pour vaincre appréhensions et peurs, offert la force d&#39;oser.
    Oser tout ce qui sans eux m&#39;aurait laissé à terre, dans l&#39;ombre douillette, mais sans
    voix. Le cheval a changé ma vie. Il l&#39;a bouleversée, tissée, sauvée, mise en danger,
    protégée, enluminée, inspirée... Il est mon intercesseur vers le merveilleux. Je lui
    dois tout, absolument tout, et suis son créancier pour l&#39;éternité. » Homeric
</p>
<div class="row">
    <div class="col-md-6 ">
        <p>
            Ici tout est dit…
        </p>
        <p>
            Mais pour commencer, il est nécessaire de resituer le début de ce cheminement :
        </p>
        <p>
            La création de Caval’en liberté, c’était il y a 19 ans…
        </p>

        <p>
            Il aura fallu associer trois éléments, trois petites graines pour que Caval’en liberté puisse éclore, émerger, se dessiner : 
        </p>
        <p>
        Un rêve de petite fille, que les années avaient enfoui,
        </p>

        <p>
        Un accident dans le déroulement de ma vie,
        </p>

        <p>
        La touche finale, la rencontre avec un cheval, Princesse, qui allait changer le cours de mon existence.
        </p>
    </div>
    <div class="col-md-5 m-2">
            <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648655396/CAVALENTOI/DSCN2427_iqjjeg.jpg" alt="Responsive image"/>

    </div>
</div>
<p>
    Après son arrivée, j’ai opéré un virage à 360° et me suis consacrée à temps plein aux chevaux, alors même que je n’étais jamais montée à cheval…
</p>

<p>
    Tout me semblait évident, comme si, cela faisait partie de moi, de mon ADN.
</p>
<p>
    Cette blessure m’avait coupée de tout et de tous, peu à peu, avec Princesse, j’ai redécouvert, le contact (« l’aller vers »), d’abord avec l’animal, puis avec la nature environnante et tous les éléments de cette nature, cela m’a peu à peu réconciliée avec mes congénères humains.
</p>
<p>
  Il a fallu du temps et sans Princesse la guérison ne serait jamais arrivée.
</p>
<p>
  Nous passions des heures à nous balader, j’étais le plus souvent à ses cotés et non sur son dos…. Quelle symbiose !...
</p>
<p>
 Au fil des années ma reconstruction est aussi passée par le partage de tout ce que l’être cheval allié à la nature peut nous apporter, à nous, animaux humains.
</p>
<p>
 En accompagnant des personnes, avec les chevaux, (sur leur dos ou à côté) à travers le maquis et la nature sauvage corse, j’ai pu observer ce que cela éveillait chez mes clients : de la sérénité, du bien-être, de la joie.
</p>
<p>
 Le constat était sans appel : il y avait un véritable impact, quasi instantané, les gens se sentaient bien, ici, avec les chevaux en pleine nature, ils avaient d’ailleurs du mal à quitter leur compagnon de route.
</p>
<p>
    Après les randonnées j’ai voulu ajouter l’enseignement, un enseignement différent, basé sur l’écoute et la compréhension du cheval avant tout, de faire de cet être un compagnon de vie, de partage et non un outil de performance.
</p>

<p>
   J’ai alors commencé à travailler avec le handicap, surtout, TSA, TDA/H…
</p>
<p>
   Pendant toutes ces années de partage, d’accompagnement que ce soit en balade, en cours ou avec le handicap, je me suis centrée, ancrée, trouvée.
</p>

<p>
    Je me suis rendu compte que j’aimais réellement cela, l’Accompagnement.
</p>
<p>
   Il est devenu évident que je voulais plus, faire plus, partager encore et encore ce que le cheval allié à la nature pouvait apporter comme soutien, pas seulement au handicap mais au plus grand nombre.

</p>
<p>
   Je me suis alors formée aux thérapies brèves (PNL, hypnose, psychologie positive, systémie…) et à la médiation équine. Cela me fit acquérir des outils, un savoir, des techniques supplémentaires pour accompagner le plus grand nombre vers un mieux-être.

</p>
<p>
  Je sentais que je basculais de plus en plus vers de l’accompagnement à la personne.
</p>

<p>
    Et puis le drame arriva…
</p>

<p>
    15 octobre 2021…
</p>
<p>
    Princesse décide de me laisser et de partir vers le monde de l’invisible, vers une autre dimension…
</p>
<p>
    Quel cataclysme…. Elle était ma force, mon pilier… 
</p>
<p>
    Quelques semaines plus tard, comme une évidence, j’ai compris que maintenant grâce à Princesse, à son accompagnement, grâce à tout ce qu’elle m’avait transmis, injecté, je pouvais passer à autre chose : Caval’en liberté allait laisser la place, peu à peu, à Caval’en toi…
</p>
<p>
    Merci, Princesse pour ce superbe message…. Tu resteras ma force et mon pilier
</p>
 <div class="row">
 
    <div class="col-md-4">
          <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648655394/CAVALENTOI/IMG_6009-2_1_ut3hvr.jpg" alt="Responsive image"/>

    </div>
    <div class="col-md-4">
          <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648655396/CAVALENTOI/DSCN2427_iqjjeg.jpg" alt="Responsive image"/>

    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648907766/CAVALENTOI/FB_IMG_1643914338171_qbvxzd.jpg" alt="Responsive image"/>
    </div>
  </div>

           <img class="img-fluid" src="https://res.cloudinary.com/numama/image/upload/v1648814704/CAVALENTOI/logo_caval_en_toi_anrq5f.png" alt="Responsive image"/>

</div>