<div class="container"> 
<h5>  Pour qui ?  </h5>

<p>
   La médiation équine ou les thérapies brèves s’adressent à toutes personnes, désirant aller vers un mieux-être, à la rencontre d’elle-même.

</p>

<p>
  Que ce soit pour du développement personnel, (aller chercher sa substantifique moelle !) ou à visées thérapeutiques.
</p>
<p>
 Le cheval est de plus en plus reconnu pour ses nombreuses fonctions réelles ou symboliques, il nous permet de lever le voile et d’accéder à des éclairages avec plus de facilités que dans d’autres situations.
</p>
<p>
    Le cheval, animal mythique, puissant, mais aussi un être chaud et doux, avec qui le poids du regard n’existe pas.

</p>

<p>
    Il y a un rapport à l’autre sans jugement.
</p>
<p>
   D’emblée, une relation se crée avec cet être.
</p>

<p>
   Le cheval incarne à la fois la puissance, la force, la sérénité, la sagesse, l’élégance, la confiance mais il peut aussi générer des peurs et des angoisses.
</p>

<p>
  Toutes ces caractéristiques en font un médiateur au service de votre évolution.
    Il va apporter toutes les ressources nécessaires à la maturation de votre changement.
</p>

<p>
    Vous voulez retrouver de la confiance, gérer votre stress, dépasser un blocage, surmonter un événement, (deuil, rupture, traumatisme), faire face à une transition de vie, les thérapies brèves et la médiation équine vous guideront, pas à pas vers votre changement…
</p>

<p>
    Je vous accompagnerai, vous, votre famille, votre enfant avec ou sans le cheval.
</p>
<p>
    Le but sera de trouver les outils qui vous correspondent le mieux, pour un accompagnement juste, afin que vous puissiez accéder au changement en trouvant vos solutions.
</p>
<p>
  Cet accompagnement s’adaptera au fur et à mesure de votre progression.

</p>
<p>
 Si vous voulez en savoir plus n’hésitez pas à me contacter…

</p>
   <div class="row">
 
    <div class="col-md-4">
        <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648666598/CAVALENTOI/Screen_Shot_2022-03-30_at_20.56.13_h21qg3.png" alt="Responsive image"/>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648655399/CAVALENTOI/received_343052839922399_lkrskb.jpg" alt="Responsive image"/>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded-circle mt-2" src="https://res.cloudinary.com/numama/image/upload/v1648655395/CAVALENTOI/received_2872221142849618_hdgzsp.jpg" alt="Responsive image"/>
    </div>
  </div>
</div>